html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

table {
  border-collapse: collapse;
  vertical-align: middle;
  display : table;
  width: 100%;
  column-width: 50px;
}
table td, table th {
  padding: 10px;
  border: none;
  text-align: center;
  /* border-bottom: 2px solid #7f7f7f; */
}
table thead td {
  /* background-color: #54585d;  */
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  /* border: 1px solid #54585d; */
}

table thead tr {
  background-color: #f1f3f7;
  color: #0a0a0a;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #7f7f7f; 
  text-align: center;  
}

table tbody td {
  color: #636363;
  text-align: center;
  /* border: 1px solid #dddfe1; */
}
table tbody tr {
  /* background-color: #f9fafb; */
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size: 13px;
  text-align: center;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size: 13px;
  text-align: center;
}

h4 {
  /* font-size: var(--h4-size); */
  /* font-variation-settings: "wght" 500; */
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  text-transform: capitalize;
  /* text-transform: uppercase; */
  /* margin: 0 0 4px 0; */
}
