{% extends "layout.html" %}
{% load static %}

{% block content %}
<section class="hero">
    <h2>Asia Population</h2>
</section>

<section class="project"></section>
<figure>
    <img src = "{% static 'asia.png' %}" class="center">
    <br>
    <p>
        - The current population of Asia is 4,709,411,938 as of March 25, 2022, based on the latest United Nations estimates.
        <br>
        - Asia population is equivalent to 59.76% of the total world population.
        <br>
        - Asia ranks number 1 among regions of the world (roughly equivalent to "continents"), ordered by population.
        <br>
        - The population density in Asia is 150 per Km2 (387 people per mi2).
        <br>
        - The total land area is 31,033,131 Km2 (11,981,954 sq. miles).
        <br>
        - 50.9 % of the population is urban (2,361,464,416 people in 2019).
        <br>
        - The median age in Asia is 32.0years.
    </p>
</figure>    


<h4>Population of Asia (2020 and Historical)</h4>
<br>

{{asia | safe}}

<br>

{{chart}}

{% endblock %}