{% extends "layout.html" %}
{% load static %}

{% block content %}
<section class="hero">
    <h2>World Population</h2>
</section>

<section class="project"></section>
<figure>
    <img src = "{% static 'world.png' %}" class="center">
    <br>
    <p>
        - Population in the world is currently (2020) growing at a rate of around 1.05% per year.
        <br>
        - The current average population increase is estimated at 81 million people per year.
        <br>
        - Annual growth rate reached its peak in the late 1960s, when it was at around 2%. 
        <br>
        - The rate of increase has nearly halved since then, and will continue to decline in the coming years.
        <br>
        - World population will therefore continue to grow in the 21st century, but at a much slower rate compared to the recent past. 
        <br>
        - World population has doubled (100% increase) in 40 years from 1959 (3 billion) to 1999 (6 billion).
        <br>
        - It is now estimated that it will take another nearly 40 years to increase by another 50% to become 9 billion by 2037.
        <br>
        - The latest world population projections indicate that world population will reach 10 billion persons in the year 2057.
    </p>
</figure>    


<h4>World Population (2020 and Historical)</h4>
<br>

{{world | safe}}

<br>

{{chart}}

{% endblock %}